@{
    ViewData["Title"] = "Home";
}

<div class="w-100" style="height: 620px; background: url('https://media.gettyimages.com/id/1312706413/photo/modern-hospital-building.jpg?s=612x612&w=gi&k=20&c=1-EC4Mxf--5u4ItDIzrIOrduXlbKRnbx9xWWtiifrDo=') center center / cover no-repeat;">
    <!-- Video Container -->
    <div class="d-flex justify-content-center align-items-center h-100">
        <div style="height70%;width:40%;color:white; margin-right:3%;background-color: rgba(0, 0, 0, 0.05);">
            <h3>ABOUT US</h3>
            <p>
                The JKL Healthcare System stands out for its comprehensive care, advanced technology, and patient-centered approach.
            </p>
            <p>
                It provides accessible, affordable services with a focus on innovation and community wellness.
            </p>
            <p>
            Backed by skilled professionals, it emphasizes quality care and continuously integrates cutting-edge medical advancements to improve patient outcomes.
            </p>
        </div>
        <div class="video-container" style="position: relative; height: 70%; width: 40%;">
            <iframe src="https://www.youtube.com/embed/37NMD3u_H8c?autoplay=1&rel=0&mute=1"
                    title="WHO Video"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 8px;">
            </iframe>
        </div>
    </div>
</div>

<style>
    .video-container {
        border: 2px solid #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

</style>
